<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>
<div class="grid">
    
        <div class="col-4">    
            <p-card header="uppercase" [subheader]="nombreLower | uppercase">
                {{ nombreLower | uppercase  }}
            </p-card>        
                
        </div>
        <div class="col-4">
            <p-card header="lowercase"
                    [subheader]="nombreLower | lowercase">
                {{ nombreLower | lowercase }}
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
                {{ nombreCompleto | titlecase }}
                
            </p-card>
        </div>
    
</div>
<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>Pipe para 'mostrar' fechas</p>
</div>
<div class="grid">
    
    <div class="col-6">  
        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | Date </li>
                <li>Fecha | short </li>
                <li>Fecha | long </li>
                <li>Fecha | Mes Dia, Año </li>
            </ul>
            <hr>
            <ul>
                <li>France</li>
                <li>United Kingdom</li>
                <li>Alemania</li>
                <li>Rusia(Mosku)</li>
                <li>Japón</li>
            </ul>
        </p-card>             
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short' }}</li>
                <li>{{ fecha | date:'long' }}</li>
                <li>{{ fecha | date:'MMMM dd, yyyy'  }}</li>
            </ul>
            <hr>
            <ul>
                <li>{{ fecha | date:'EEEE dd, MMMM YYYY h:mm:ss a zzzz':'':'fr' }}</li>
                <li>{{ fecha | date:'EEEE dd, MMMM YYYY h:mm:ss a zzzz':'':'en'}}</li>
                <li>{{ fecha | date:'EEEE dd, MMMM YYYY h:mm:ss a zzzz':'':'de' }}</li>
                <li>{{ fecha | date:'EEEE dd, MMMM YY h:mm:ss a zzzz':'':'ru' }}</li>
                <li>{{ fecha | date:'EEEE dd, MMMM YY h:mm:ss a zzzz':'':'ja' }}</li>
            </ul>
        </p-card>         
    </div>
    

</div>
